{% extends 'lk_base.html' %}

{% block content %}
<div class="p-4 card mt-5 container text-center gap-4" style="width: 55rem; align-items: center" method="post">
    <h5 class="display-6">
        Запросы из таблиц
    </h5>
    <form class="form" method="post">
        <div class="input-group">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="input_select">
                <option selected disabled>Выбрать запрос...</option>
                {% for i in select_list %}
                    <option value="{{ i }}">{{ select_list[i] }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-outline-secondary" type="submit">Поиск</button>
        </div>
        {% if message != '' %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ message }}
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
