{% extends 'lk_base.html' %}

{% block content %}
 <div class="p-4 card mt-5 container text-center col-8" style="height: 40rem">
     <div class="d-flex justify-content-center align-items-center">
        <a href="{{ url_for('menu_choice') }}" class="me-auto">
            <h1><i class="fa fa-arrow-circle-left"></i></h1>
        </a>
        <h2 class="text-center me-auto">Список всех внутренних пользователей</h2>
        <a href="{{ url_for('bp_edit.insert_internal') }}">
            <h1><i class="fa fa-plus-circle"></i></h1>
        </a>
    </div>
     <ul class="list-group mt-3" style="height: 100%; overflow-y: auto">
         {% for item in items %}
        <li class="list-group-item justify-content-between lh-sm">
            <form action="" method="POST" class="d-flex align-items-center">
                <div>
                    <label for="edit" class="named_list" >
                        <h6 class="my-0">{{ item['login'] }}</h6>
                     </label>
                     <label for="edit" class="named_list">
                         <small class="text-muted">Группа: {{ item['user_group'] }}</small>
                     </label>
                </div>
                <div class="d-flex ms-auto gap-3">
                    <button type="submit" name="action" id="edit" value="edit" class="btn btn-primary">
                        Редактировать
                    </button>
                    <button type="submit" name="action" value="delete" class="btn btn-danger">
                        Удалить
                    </button>
                    <input type="hidden" name="user_id" value="{{ item['user_id'] }}">
                </div>
            </form>
        </li>
        {% endfor %}
     </ul>
</div>
{% if show_toast %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="toast show bg-{{ toast_type }} text-white">
        <div class="toast-header bg-{{ toast_type }} text-white">
            <strong class="me-auto">{{ toast_title }}</strong>
            <button type="button" class="btn btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ toast_message }}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}