{% extends 'ex_base.html' %}

{% block content %}
 <div class="card container" style="width: 20rem">
    <div class="card-body text-center h5">
      Добро пожаловать, {{ user }}!
    </div>
  </div>
  <div class="p-4 card mt-5 container text-center" style="width: 20rem">
    <h5 class="display-6">Меню</h5>
    <ul class="mt-3 pt-2 pb-2 list-group list-group-flush">
      <li class="list-group-item border-0">
        <a href={{ url_for('bp_order.order_index') }} class="list-group-item list-group-item-action">В каталог</a>
      </li>
    </ul>
    <a href="/exit" type="button" class="mt-3 btn btn-danger">Выйти</a>
  </div>
{% endblock %}